:root {
  --primary-color: #4d77ff;
  --black: #121212;
  --bg: #fff;
  --about-bg: #406bfa9c;
}

body {
  background-color: var(--bg);
  font-family: "Manrope";
}
.logo {
  font-size: 24px;
  color: var(--primary-color);
  font-family: "Manrope";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.nav-list {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
  height: 100%;
  margin-bottom: 0;
}
.nav-link {
  color: var(--black);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.42px;
}
.contact-btn {
  border-radius: 10px;
  background-color: var(--primary-color);
  padding: 10px 14px 10px 14px;
  border: none;
  color: var(--bg);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  transition: all 0.6s ease;
}
.contact-btn:hover {
  box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px var(--primary-color);
}
/* .nav-container {
  display: flex;
} */
.link {
  text-decoration: none;
}
.hero-title {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  /* height: 100%; */
}
.hero-head {
  color: var(--black);
  font-family: "Manrope";
  font-size: clamp(36px, 5vw, 54px);
  font-style: normal;
  font-weight: 700;
  line-height: clamp(50px, 4vw, 70px); /* 129.63% */
  letter-spacing: 1.08px;
  margin-bottom: 36px;
}
.hero-head span {
  color: var(--primary-color);
}
.hero .container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.hero-image {
  width: 100%;
  height: auto;
  padding-bottom: 100%;
  -webkit-mask-image: url("../img/blob.svg");
  background-image: url("../img/blob.svg");
  mask-image: url("../img/blob.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  overflow: hidden;
  object-fit: cover;
  background-repeat: no-repeat;
  position: relative;
}

.hero {
  height: auto;

  position: relative;
}
.hero-title p {
  margin-bottom: 36px;
}
.bottle {
  width: 100%;
  position: absolute;
  bottom: 0;
  transition: transform 0.3s ease-in-out;
}
@keyframes subtleRotation {
  from {
    transform: rotate(0deg) scale(1.2);
  }
  to {
    transform: rotate(360deg) scale(1.2);
  }
}
@keyframes subtleRotation2 {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg) scale(1);
  }
}

.medicine {
  animation: subtleRotation2 150s linear infinite;
  width: 100%;
  position: absolute;
  z-index: 1;
  left: -22px;
  top: -23px;
  transition: transform 0.3s ease-in-out;
  transform-origin: center center;
}

.hero-img-group:hover .medicine {
  animation: subtleRotation 150s linear infinite;
  cursor: pointer;
}
.hero-img-group:hover .medicine,
.hero-img-group:hover .bottle {
  transform: scale(1.2);
  cursor: pointer;
}
.hero-img-group {
  transform-origin: left right;
  position: relative;

  margin: auto;
  transition: transform 0.3s ease-in-out;
}
.card-item {
  height: auto;
  width: 400px;
  border: none;
  box-shadow: 0px 10px 40px 0px rgba(18, 18, 18, 0.1);
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
  background-color: var(--bg);
}
.card-item:hover {
  transform: scale(1.1);
}

.card h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 129.63% */
  letter-spacing: 1.08px;
}
.sec-h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 129.63% */
  letter-spacing: 1.08px;
  margin-bottom: 54px;
}
.sec-p {
  margin-bottom: 74px;
  max-width: 860px;
}
.services-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 0 0 42px 0;
}
.services-list li {
  margin-bottom: 15px;
}
.services-sec .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-sec {
  background-color: #edf1ff;
  padding-top: 88px;
  padding-bottom: 88px;
  background-image: url(../img/blob-bg-ser.svg);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size:cover;
 
 
}

.card-item img {
  width: 70%;
  object-fit: cover;
}
.card-text {
  max-height: 70px; /* Adjust the height as needed */
  overflow: hidden;
}

.card {
  box-shadow: 0px 10px 40px 0px rgba(18, 18, 18, 0.1);
  border-radius: 20px !important;
  border: none;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.2);
}
.news-col {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 30px;
}
.card-body .article-link img {
  transition: transform 0.3s ease-in-out;
  filter: brightness(0) saturate(100%) invert(40%) sepia(77%) saturate(550%)
    hue-rotate(189deg) brightness(101%) contrast(107%);
}

.card-img-top {
  width: 288px;
  height: 192px;
  object-fit: cover;
}
.card:hover .article-link img {
  transform: translateX(10px);
}
footer {
  background: rgb(47, 97, 255);
  background: linear-gradient(
    0deg,
    rgba(47, 97, 255, 1) 0%,
    rgba(77, 119, 255, 1) 100%
  );
  color: var(--bg);
  padding-top: 56px;
  padding-bottom: 56px;
}
.list-unstyled a {
  color: var(--bg);
}
.footer-logo {
  margin-right: 150px;
}
.footer-logo .logo {
  color: var(--bg);
}
.footer-logo p {
  margin-top: 36px;
}
.footer-list .list-title {
  margin-bottom: 36px !important;
}
.footer-list li {
  margin-bottom: 15px;
}

.about-bg {
  background-color: #edf1ff;
}
.img-border {
  position: relative;

  display: inline-block;
}
.img-border::before {
  position: absolute;
  bottom: -5%;
  right: -5%;
  width: 100%;
  height: 100%;
  z-index: -1;
  border: 4px solid var(--primary-color);
  content: "";
}
.img-border {
  position: absolute;
  bottom: -20%;
  left: 23%;
}
.about-h1 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
}
@media (max-width: 768px) {
  .about-sec-img {
    margin-bottom: 40px;
  }
  .img-border {
    left: 23%;
    top: 11%;
    bottom: -11%;
  }
  .about-h4 {
    margin-bottom: 20px !important;
  }
}
