:root {
  --primary-color: #4d77ff;
  --sec-color: #bbd825;
  --black: #121212;
  --bg: #fff;
  --about-bg: #406bfa9c;
  --section-bg: #edf1ff;
  --blue: #4d77ff;
  /* --primary-color: #4d77ff;
  --sec-color: #7191fa;
  --black: #121212;
  --bg: #fff;
  --about-bg: #406bfa9c;
  --section-bg: #edf1ff; */
  --light-coffe: #f6fff4;
  --coffe: #ebffe7;
  --apple: #4e9c3c;
  --key-lime: #bbd825;
  --curious-blue: #16aee1;
  --st-tropaz: #032783;
  --dark-tropaz: #001750;
  --atlantis: #96ca3c;
  --fun-blue: #1c64b4;
  --denim: #1672c3;
  --turquoise: #46d4d4;
  --viking: #54dbd4;
  --slime: #c9e1c4;
  --greeny: #2bff00;
  --lime-green: #3bc14a;
}

body {
  /* background-color: var(--slime); */
  font-family: "Manrope";
}
.logo {
  font-size: 24px;
  color: var(--st-tropaz);
  font-family: "Manrope";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
}
header {
  position: fixed;
  width: 100vw;
  top: 0;
  transition: all 0.3s ease;
  /* background-color: #edf5eb; */
  z-index: 10;
}
.overlay {
  background: linear-gradient(to right, #2bff00, var(--slime));
  opacity: 0.1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.nav-list {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
  height: 100%;
  margin-bottom: 0;
}
.nav-link {
  color: var(--st-tropaz);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.42px;
  transition: all 0.3s ease;
}
.nav-link:hover {
  color: var(--primary-color);
  transform: scale(1.2);
}
.contact-btn {
  border-radius: 10px;
  background: linear-gradient(to right, #7aff60, #6af54f);
  padding: 10px 14px 10px 14px;
  border: none;
  color: var(--st-tropaz);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.6s ease;
}
.hero-title .contact-btn {
  transition: all 0.6s ease;
  animation-name: ani-float;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.contact-btn:hover {
  box-shadow: 0 10px 15px -3px var(--greeny), 0 4px 6px -2px var(--greeny);
  transform: translateX(5px);
}
.contact-btn a {
  color: var(--dark-tropaz);
}

.link {
  text-decoration: none;
}
.hero-title {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 0;
  padding-right: 0;
  /* height: 100%; */
  z-index: 1;
  position: relative;
}
.hero-title p {
  color: var(--st-tropaz);
  font-weight: 500;
}
.hero-head {
  color: var(--st-tropaz);
  font-family: "Manrope";
  font-size: clamp(36px, 5vw, 54px);
  font-style: normal;
  font-weight: 700;
  line-height: clamp(50px, 4vw, 70px); /* 129.63% */
  letter-spacing: 1.08px;
  margin-bottom: 36px;
}
.hero-head span {
  color: var(--lime-green);
}
.hero .container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 70px;
}

.hero-image {
  width: 100%;
  height: auto;
  padding-bottom: 100%;
  -webkit-mask-image: url("../img/svg/blob-3.gif");
  background-image: url("../img/svg/blob-3.gif");
  mask-image: url("../img/svg/blob-3.gif");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  overflow: hidden;
  object-fit: cover;
  background-repeat: no-repeat;
  position: relative;
}

.hero {
  height: 100vh;
  /* margin-top: 70px; */

  position: relative;
}
.hero-title p {
  margin-bottom: 36px;
  font-size: 20px;
}
.bottle {
  width: 100%;
  position: absolute;
  bottom: 0;
  transition: transform 0.3s ease-in-out;
}
@keyframes subtleRotation {
  from {
    transform: rotate(0deg) scale(1.2);
  }
  to {
    transform: rotate(360deg) scale(1.2);
  }
}
@keyframes subtleRotation2 {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg) scale(1);
  }
}

.medicine {
  animation: subtleRotation2 150s linear infinite;
  width: 100%;
  position: absolute;
  z-index: 1;
  left: -22px;
  top: -23px;
  transition: all 0.6s ease;
  transform-origin: center center;
}
#medicine {
  transition: all 0.6s ease;
}

.hero-img-group:hover .medicine {
  animation: subtleRotation 150s linear infinite;
  cursor: pointer;
}
#medicine:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.hero-img-group:hover .medicine,
.hero-img-group:hover .bottle {
  transform: scale(1.2);
  cursor: pointer;
}
.hero-img-group {
  transform-origin: left right;
  position: relative;

  margin: auto;
  transition: transform 0.3s ease-in-out;
}
.card-item {
  height: auto;
  width: 400px;
  border: none;
  box-shadow: 0px 10px 40px 0px rgba(18, 18, 18, 0.1);
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
  background-color: var(--bg);
}
.card-item:hover {
  transform: scale(1.1);
}

.card h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 129.63% */
  letter-spacing: 1.08px;
}
.sec-h3 {
  color: var(--dark-tropaz);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 129.63% */
  letter-spacing: 1.08px;
  margin-bottom: 45px;
}
.sec-p {
  color: var(--dark-tropaz);
  font-size: 19px;
  margin-bottom: 74px;
  max-width: 860px;
}
.services-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 0 0 42px 0;
}
.services-list li {
  margin-bottom: 15px;
}
.services-sec .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-sec {
  background-color: var(--coffe);
  padding-top: 88px;
  padding-bottom: 88px;
  background-image: url(../img/blob-bg-ser.svg);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-item img {
  width: 70%;
  object-fit: cover;
}
.card-text {
  flex: 1; /* Adjust the height as needed */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient:vertical;
}
.card-body{
  display: flex;
  flex-direction: column;
}

.card {
  box-shadow: 0px 10px 40px 0px rgba(18, 18, 18, 0.1);
  border-radius: 20px !important;
  border: none;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.2);
  z-index: 1;
}
.news-col {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 30px;
}
.card-body .article-link img {
  transition: transform 0.3s ease-in-out;
  filter: brightness(0) saturate(100%) invert(40%) sepia(77%) saturate(550%)
    hue-rotate(189deg) brightness(101%) contrast(107%);
}

.card-img-top {
  width: 288px;
  height: 192px;
  object-fit: cover;
}
.card:hover .article-link img {
  transform: translateX(10px);
}
footer {
  background-color: var(--coffe);
  /* background: rgb(235,255,231);
  background: linear-gradient(0deg, rgba(235,255,231,1) 0%, rgba(193,249,182,1) 100%); */
  color: var(--st-tropaz);
  padding-top: 56px;
  padding-bottom: 56px;
}
.list-unstyled a {
  color: var(--st-tropaz);
}
.footer-logo {
  margin-right: 150px;
}
.footer-logo .logo {
  color: var(--st-tropaz);
}
.footer-logo p {
  margin-top: 36px;
}
.footer-list .list-title {
  margin-bottom: 36px !important;
}
.footer-list li {
  margin-bottom: 15px;
}

.about-bg {
  /* background-color: #edf1ff; */
  background-color: var(--coffe);
}
.img-border {
  position: relative;
  background-color: var(--bg);
  display: inline-block;
}
.img-border::before {
  position: absolute;
  bottom: -5%;
  right: -5%;
  width: 100%;
  height: 100%;
  z-index: -1;
  border: 4px solid var(--st-tropaz);
  content: "";
}

.img-border {
  position: absolute;
  bottom: -12%;
  left: 23%;
}
.about-h1 {
  color: var(--st-tropaz);
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
}
.about-h4 {
  color: var(--st-tropaz);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.75px;
  margin-bottom: 20px !important;
}
.btn-primary {
  background: linear-gradient(to right, #7aff60, #6af54f);
  border-color: #7aff60;
}
.right_conatct_social_icon {
  background: linear-gradient(
    to top right,
    var(--atlantis) -5%,
    var(--greeny) 100%
  );
}
.contact_us {
  background-color: var(--bg);
  padding: 120px 0px;
}

.contact_inner {
  background-color: #fff;
  position: relative;
  box-shadow: 20px 22px 44px #cccc;
  border-radius: 25px;
}
.contact_field {
  padding: 60px 300px 90px 100px;
}
.right_conatct_social_icon {
  height: 100%;
}

.contact_field h3 {
  color: #000;
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact_field p {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 35px;
}
.contact_field .form-control {
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #ccc;
}
.contact_field .form-control:focus {
  box-shadow: none;
  outline: none;
  border-bottom: 2px solid #1325e8;
}
.contact_field .form-control::placeholder {
  font-size: 13px;
  letter-spacing: 1px;
}

.contact_info_sec {
  position: absolute;
  background-color: var(--coffe);
  right: 1px;
  top: 0%;
  height: 100%;
  width: 380px;
  padding: 40px;
  border-radius: 0 25px 25px 0;
}
.contact_info_sec h4 {
  letter-spacing: 1px;
  padding-bottom: 15px;
}

.info_single {
  margin: 30px 0px;
}
.info_single i {
  margin-right: 15px;
}
.info_single span {
  font-size: 14px;
  letter-spacing: 1px;
}

button.contact_form_submit {
  background: linear-gradient(
    to top right,
    var(--greeny) -5%,
    var(--atlantis) 100%
  );
  border: none;
  color: #fff;
  padding: 10px 15px;
  width: 100%;
  margin-top: 25px;
  border-radius: 35px;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 2px;
}
.socil_item_inner li {
  list-style: none;
}
.socil_item_inner li a {
  color: #fff;
  margin: 0px 15px;
  font-size: 14px;
}
.socil_item_inner {
  padding-bottom: 10px;
}

.map_sec {
  padding: 50px 0px;
}
.map_inner h4,
.map_inner p {
  color: #000;
  text-align: center;
}
.map_inner p {
  font-size: 13px;
}
.map_bind {
  margin-top: 50px;
  border-radius: 30px;
  overflow: hidden;
}

.sec-blog {
  background-image: linear-gradient(
      90deg,
      rgba(165, 165, 165, 0.03) 0%,
      rgba(165, 165, 165, 0.03) 8%,
      rgba(235, 235, 235, 0.03) 8%,
      rgba(235, 235, 235, 0.03) 9%,
      rgba(7, 7, 7, 0.03) 9%,
      rgba(7, 7, 7, 0.03) 14%,
      rgba(212, 212, 212, 0.03) 14%,
      rgba(212, 212, 212, 0.03) 17%,
      rgba(219, 219, 219, 0.03) 17%,
      rgba(219, 219, 219, 0.03) 95%,
      rgba(86, 86, 86, 0.03) 95%,
      rgba(86, 86, 86, 0.03) 100%
    ),
    linear-gradient(
      67.5deg,
      rgba(80, 80, 80, 0.03) 0%,
      rgba(80, 80, 80, 0.03) 11%,
      rgba(138, 138, 138, 0.03) 11%,
      rgba(138, 138, 138, 0.03) 17%,
      rgba(122, 122, 122, 0.03) 17%,
      rgba(122, 122, 122, 0.03) 24%,
      rgba(166, 166, 166, 0.03) 24%,
      rgba(166, 166, 166, 0.03) 27%,
      rgba(245, 245, 245, 0.03) 27%,
      rgba(245, 245, 245, 0.03) 89%,
      rgba(88, 88, 88, 0.03) 89%,
      rgba(88, 88, 88, 0.03) 100%
    ),
    linear-gradient(
      67.5deg,
      rgba(244, 244, 244, 0.03) 0%,
      rgba(244, 244, 244, 0.03) 4%,
      rgba(16, 16, 16, 0.03) 4%,
      rgba(16, 16, 16, 0.03) 10%,
      rgba(157, 157, 157, 0.03) 10%,
      rgba(157, 157, 157, 0.03) 20%,
      rgba(212, 212, 212, 0.03) 20%,
      rgba(212, 212, 212, 0.03) 83%,
      rgba(5, 5, 5, 0.03) 83%,
      rgba(5, 5, 5, 0.03) 84%,
      rgba(237, 237, 237, 0.03) 84%,
      rgba(237, 237, 237, 0.03) 100%
    ),
    linear-gradient(90deg, #ffffff, #ffffff);
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.active-link {
  /* transform: scale(1.2); */
  color: var(--lime-green);
}
.sec-blog h3 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
}
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 0.9;
    transform: translateY(0);
  }
}

/* ---------------- For Animation on Scroll ---------------- */
.slideanim {
  visibility: hidden;
  visibility: visible\9; /*For old IE browsers IE6-8 */
}
.slideanim.slide {
  visibility: visible;
  animation: slide 1s;
}
.slideanim::after {
  /* useful when its child elements are float:left; */
  content: "";
  display: table;
  clear: both;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moveDiagonal {
  100% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(100%, -100%);
  }
}

.diagonal-animation {
  position: fixed;
  animation: moveDiagonal 5s linear infinite; /* Adjust the duration and timing function as needed */
}

.float {
  animation-name: ani-float;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes ani-float {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
.stethoscope {
  position: absolute;
  z-index: -1;
  top: 0%;
  left: 0%;
}
.wheelchair {
  top: 67%;
  left: 77%;
}
.ventilator {
  top: 46%;
  left: 40%;
}
.icons {
  transition: all 0.6s ease;
  animation-name: ani-float;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.product-card {
  /* border-radius: 25px; */
  overflow: hidden;
  width: 230px;
  height: 370px;
  background-color: var(--bg);
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
.product-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.prod-cat {
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product-list {
  gap: 15px;
  flex-wrap: wrap;
}
.prod-cat1 {
  width: auto;
  background-color: white;
  opacity: 0.2;
  filter: blur(3px);
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.prod-cat1 h1 {
  visibility: hidden;
  color: var(--bg);
  font-size: 40px;
  font-weight: bolder;
  text-shadow: 12px 3px 15px rgba(255, 255, 255, 0.2);
}
.prod-cat h1 {
  color: var(--st-tropaz);
  font-size: 40px;
  font-weight: bolder;
  text-shadow: 12px 3px 15px rgb(255, 253, 253);
}
.product-sec {
  background-color: var(--light-coffe);
}
.item-type {
  bottom: 0;
  background-color: var(--coffe);
  width: 100%;
  
  /* border-bottom-left-radius: 25px; */
}
.item-type p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Manrope';
  font-weight: 700;
  color: var(--st-tropaz);
  text-align: center;
  font-size: 17px;
}
.prod-h1 {
  color: var(--st-tropaz);
  font-weight: bold;
  font-size: 50px;
  margin-bottom:60px;
}
.prod-p {
  color: var(--st-tropaz);
  font-size: 19px;
  margin-bottom: 70px;
  

}
.aboutus-card h3,p{
color: var(--st-tropaz);
}
.aboutus-card{
  box-sizing: border-box;
  background: var(--coffe);
  border: 1px solid var(--bg);
  /* box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22); */
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  backdrop-filter: blur(6px);
  /* border-radius: 17px; */
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  
}
.suppliers-div{
  background-color: var(--fun-blue);
  color: var(--coffe);
  padding: 50px;
}
.suppliers-div h1{
  margin-bottom: 50px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
}
.partners img{
 
 width: 300px;
 height: 135.6px;
 object-fit: cover;
}
.poster{
  width:283px;
}
#image-modal {
  display: none; /* Hide the modal initially */
  position: fixed;
 
  justify-content: center; /* Center content horizontally */
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999; /* Ensure it appears above other elements */
}

#image-modal img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;

}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.hero-aboutus{
  margin-top: 70px;
  background-image: url(../img/medicalbg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.overlay-aboutus{
  
    background: var(--bg);
    opacity: 0.4;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
   

}
.hero-div{
  z-index: 2;
  position: relative;
}
.hero-div h1{
  color: var(--st-tropaz);
    font-family: "Manrope";
    font-size: clamp(36px, 5vw, 54px);
    font-style: normal;
    font-weight: 700;
    line-height: clamp(50px, 4vw, 70px);
    letter-spacing: 1.08px;
    margin-bottom: 36px;
}
.hero-div p{
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 60px;
}
.mission{
  padding: 45px;
  background-color: var(--coffe);
  color: var(--st-tropaz);
  transform: translateX(-100vw);
}
.mission p {
  font-weight: 400;
  color: var(--st-tropaz);

}
.vision{
  padding: 45px;
  color: var(--coffe);
  background-color: var(--fun-blue);
  transform: translateX(100vw);
}
.vision p{
  color: var(--coffe);
  font-weight: 400;
}
.vision h1{
  margin-bottom: 30px;
  font-weight: bold;
}
.vision img{
 
  border-radius: 50px;
  margin-bottom: 20px!important;
  filter: brightness(0) saturate(100%) invert(100%) sepia(33%) saturate(3639%) hue-rotate(294deg) brightness(112%) contrast(134%);
}

.mission img{
 
  border-radius: 50px;
  margin-bottom: 20px!important;
  filter: brightness(0) saturate(100%) invert(18%) sepia(44%) saturate(2786%) hue-rotate(206deg) brightness(90%) contrast(114%);

}
.mission h1{
  margin-bottom: 30px;
  font-weight: bold;
}
.culture h3{
  font-weight: bold;
 color: var(--st-tropaz);
}
.culture p{
  font-weight: 400;
  color: var(--st-tropaz);
}
.values-card {
  text-align: center;
  color: var(--st-tropaz);
  max-width: 120px;
  min-width: 90px;
  height: auto;
  background: var(--coffe);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 2px;
}
.values-list{
  gap: 10px;
}
.values-list h1{
  font-weight: bold;
}
@media (max-width: 768px) {
  .aboutus-con{
   padding: 20px;
  }
   .prod-h1{
     text-align: center;
   }
   .prod-p{
     text-align: center;
   }
   .nav-link:hover {
     color: var(--primary-color);
     transform: translate(5px);
   }
   .about-sec-img {
     margin-bottom: 40px;
   }
   .img-border {
     left: 9%;
     top: 11%;
     bottom: -11%;
   }
   .about-h4 {
     margin-bottom: 20px !important;
   }
   .hero-img-group {
     position: absolute;
     z-index: -1;
     /* Use 100% to take the full width of the container */
 
     width: 450px;
   }
 
   .overlay {
     background: linear-gradient(to right, var(--coffe), var(--bg));
     opacity: 0.6;
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     right: 0;
     left: 0;
     z-index: 1;
   }
   .hero-title {
     z-index: 5;
     padding-left: 20px;
     padding-right: 20px;
   }
   .values-card {
     max-width: 70px;
     min-width: 60px;
  
   }
   .values-card p{
    font-size: 10px;
   }
 }
 @media (max-width: 1399px) {
  .hero-image {
    -webkit-mask-image: url("../img/blob.svg") !important;
    background-image: url("../img/blob.svg") !important;
    mask-image: url("../img/blob.svg") !important;
  }
}
@media (max-width: 992px) {
  .contact_info_sec {
    display: none;
  }
  .contact_field {
    padding: 60px 100px 100px 100px;
  }
  .hero-image {
    -webkit-mask-image: url("../img/blob.svg") !important;
    background-image: url("../img/blob.svg") !important;
    mask-image: url("../img/blob.svg") !important;
  }
  header {
    background-color: var(--coffe) !important;
  }
}
@media (max-width: 463px) {
  .hero-head {
    text-align: center;
  }
  .img-border {
    height: 85% !important;
  }
 
}
@media (max-width: 480px) {
  .poster{
    width: 100%!important;
    margin-bottom: 25px;
  }
}

@media (max-width: 500px) {
  .contact_field {
    padding: 60px 30px 30px 30px !important;
  }
  .card-item {
    height: auto;
    width: 350px;
  }
  .img-border {
    width: 75%;
    height: 91%;
  }
  .img-border img {
    width: 100%;
  }
  .hero-img-group {
    position: absolute;
    z-index: -1;
    width: 100%;
  }
  .medicine {
    z-index: 0;
  }
  .hero-image {
    z-index: -1;
    width: 95% !important;

    -webkit-mask-image: url("../img/svg/blob-3.gif");
    background-image: url("../img/svg/blob-3.gif");
    mask-image: url("../img/svg/blob-3.gif");
  }
  .overlay {
    background: linear-gradient(to right, var(--coffe), var(--bg));
    opacity: 0.6;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }
  .hero-title {
    z-index: 5;
  }
  .values-list{
    flex-wrap: wrap;
  }
}
