:root {
  --primary-color: #4d77ff;
  --black: #121212;
  --bg: #fff;
}

body {
  background-color: var(--bg);
  font-family: "Manrope";
}
.logo {
  font-size: 24px;
  color: var(--primary-color);
  font-family: "Manrope";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.nav-list {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
  height: 100%;
  margin-bottom: 0;
}
.nav-link {
  color: var(--black);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.42px;
}
.contact-btn {
  border-radius: 10px;
  background-color: var(--primary-color);
  padding: 10px 14px 10px 14px;
  border: none;
  color: var(--bg);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  transition: all 0.6s ease;
}
.contact-btn:hover {
  box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px var(--primary-color);
}
.nav-container {
  display: flex;
}
.link {
  text-decoration: none;
}
.hero-title {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.hero-head {
  color: var(--black);
  font-family: "Manrope";
  font-size: clamp(36px, 5vw, 54px);
  font-style: normal;
  font-weight: 700;
  line-height: clamp(50px, 4vw, 70px); /* 129.63% */
  letter-spacing: 1.08px;
  margin-bottom: 36px;
}
.hero-head span {
  color: var(--primary-color);
}
.hero .container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.hero-image {
  width: 100%;
  height: auto;
  padding-bottom: 100%;
  -webkit-mask-image: url("../img/blob.svg");
  background-image: url("../img/blob.svg");
  mask-image: url("../img/blob.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  overflow: hidden;
  object-fit: cover;
  background-repeat: no-repeat;
  position: relative;
}

.hero {
  height: calc(100vh - 70px);
}
.hero-title p {
  margin-bottom: 36px;
}
.bottle {
  width: 100%;
  position: absolute;
  bottom: 0;
  transition: transform 0.3s ease-in-out;
}
@keyframes subtleRotation {
  from {
    transform: rotate(0deg) scale(1.2);
  }
  to {
    transform: rotate(360deg) scale(1.2);
  }
}
@keyframes subtleRotation2 {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg) scale(1);
  }
}

.medicine {
  animation: subtleRotation2 150s linear infinite;
  width: 100%;
  position: absolute;
  z-index: 1;
  left: -22px;
  top: -23px;
  transition: transform 0.3s ease-in-out;
  transform-origin: center center;
}

.hero-img-group:hover .medicine {
  animation: subtleRotation 150s linear infinite;
  cursor: pointer;
}
.hero-img-group:hover .medicine,
.hero-img-group:hover .bottle {
  transform: scale(1.2);
  cursor: pointer;
}
.hero-img-group {
  transform-origin: left right;
  position: relative;
  width: 50%;
  height: auto;
  margin: auto;
  transition: transform 0.3s ease-in-out;
}
.card {
  height: auto;
  width: 400px;
  border: none;
  box-shadow: 0px 10px 40px 0px rgba(18, 18, 18, 0.1);
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.1);
}

.card h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 129.63% */
  letter-spacing: 1.08px;
}
.sec-h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 129.63% */
  letter-spacing: 1.08px;
  margin-bottom: 54px;
}
.sec-p {
  margin-bottom: 74px;
  max-width: 860px;
}
.services-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.services-list li {
  margin-bottom: 30px;
}
.services-sec .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-sec {
  background-color: #4d77ff0f;
  padding-top: 42px;
}
.card img {
  width: 70%;
  object-fit: cover;
}
